<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdu.tample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".set_Fonts"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5bCovgETnpWkEzy1Sw4cIVH-XSmYBjoc" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KaowatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KaowatActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleCatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TempleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapHotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapWatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DesVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailNewsActivity"
            android:label="@string/title_activity_detail_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullscreenActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProvinceActivity"
            android:label="ไหว้พระ ๙ วัด"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>